configuration {
    display-drun: "run ";
    display-window: "win ";
    drun-display-format: "{name}";
    font: "San Francious Display 10";
    modi: "window,run,drun";
    show-icons: true;
}

@theme "theme.rasi"
